<div class="container" >
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <%= link_to '新規登録', new_user_path, class: 'btn btn-success' %>
    </li>
    <li class="nav-item">
      <%= link_to 'ログイン', '#',class: 'btn btn-block btn-white' %>
    </li>
  </ul>
</div>